accelerate
beautifulsoup4
bitsandbytes
blingfire
hf-transfer
huggingface-hub
huggingface_hub[cli]
loguru
lxml
openai==1.109.1
sentence_transformers
torch
transformers
vllm>=0.4.2
auto-gptq==0.7.1
setuptools==80.9.0
